Vite-specific fixes
.how-it-works,
.steps-container,
.steps,
.step {
  opacity: 1 !important;
  visibility: visible !important;
}



.step {
  background-color:  var(--cardBackground-dark) !important;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3)
}

.how-it-works {
  position: relative;
  z-index: 1;
}

.steps {
  z-index: 2;
}

.step {
  z-index: 3;
}